* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
}

/* variables */
:root {
    --PAGE_MARGIN: 1rem;
    --CARD_MARGIN: 1rem;
}

/* Sectioning off components of the title cards for positioning */
.toprow {
    display: flex;
    flex-direction: row;
}

.card1, .card2, .card4 {
    display: flex;
    flex-direction: column;
    margin: var(--PAGE_MARGIN);
}

.card1, .card2 {
    width: 50%;
}

.card2, .card4 {
    border: 2px solid black;
    padding: 0.25rem;
    border-radius: 15px;
}

.card3 {
    margin: var(--PAGE_MARGIN);
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.card4 {
    align-items: center;
}

.card1_profile, .card2_profile {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.card3_profile {
    background-color: rgb(10, 10, 10);
    color: white;
    padding: 1rem;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.titleblock1 {
    display: flex;
    flex-direction: column;
}

/* Dimensions/attributes for components */

.card1_blurb, .card2_blurb, .card4_blurb {
    padding: 0.75rem;
}

.card1_blurb {
    background-color: black;
    color: white;
    border-radius: 15px;
    position: relative;
}

.card1_blurb::after { /*Triangle trick for speech bubble on card 1*/
    content: "";
    position: absolute;
    bottom: -12px;
    left: 54px;
    border-width: 12px 12px 0 12px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.card1_headshot, .card2_headshot, .card4_headshot_selected, .card4_headshot_prev, .card4_headshot_next {
    width: 100px;
    height: 100px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    margin: var(--CARD_MARGIN);
}

.card4_headshot_next, .card4_headshot_prev {
    width: 70px;
    height: 70px;
    opacity: 0.5;
}

.card4_portraitRow {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.card3_headshot {
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: center;
    border-radius: 15px;
}

.leftArrow, .rightArrow {
    width: 1rem;
    margin: 3rem;
}

.name1, .name2, .name3{
    font-size: 1.5rem;
    white-space: nowrap;
}

.name4 {
    margin: var(--CARD_MARGIN);
}

.title1, .title2, .title3 {
    white-space: nowrap;
}

.title3 {
    color: darkgray;
}